<h1 class="center">All Genres</h1>
<div id="genres" class="transitions-enabled">
  <% @movies.each_with_index do |m, i| %>
    <div class="box panel panel-default">
      <%= image_tag(m.poster) %>
      <div class="panel-footer">
        <h3 class="center"><%= link_to @genres[i].name, @genres[i] %></h3>
      </div>
    </div>
  <% end %>
</div>
