<h1 class="center">Movies in <%= @genre.name %></h1>

<div id="g-movies" class="transitions-enabled">
  <% @movies.each_with_index do |m, i| %>
    <div class="box panel panel-default">
      <%= image_tag(m.poster) %>
      <div class="panel-footer">
        <h3 class="center"><%= link_to m.title, m %></h3>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @movies %>