<li class="media">
  <div class="media-left">
    <%= link_to(image_tag(r.poster, size: "90"), r) %>
  </div>
  <div class="media-body">
    <h3 class="media-heading" style="border-bottom:1px solid white; padding-bottom:9px;"><%= r.title %></h3>
    <p><%= r.overview %></p>
  </div>
</li>