<li>
	<div class="media">
	  <div class="media-left">
	    <%= link_to (gravatar_for(user)), user %>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading"><%= user.email %></h4>
	  </div>
	</div>
</li>