<li>
	<div class="media">
	  <div class="media-left">
	    <%= link_to (gravatar_for(user)), user %>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading"><%= user.name %></h4>
	    <div class="pull-right follow-form">
	    <% if user_signed_in? %>
	    	<%= render('follow_form', user: user) %>
	    <% end %>
		</div>
	  </div>
	</div>
</li>