$body-bg:                          #ecf0f1;
$font-family-sans-serif:           'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:                    45px;
$navbar-default-bg:                white;
$navbar-default-brand-color:       #c0392b;
$brand-primary:                    #c0392b;
$jumbotron-bg:                     white;

@import 'bootstrap';
@import 'bootstrap-sprockets';

a {
  color: #c0392b;
}

.btn-primary {
  border-color: #c0392b;
  background-color: #c0392b;
}

.btn-primary:hover {
  border-color: #c0392b;
  background-color: #c0392b;
}

.btn-primary:focus {
  border-color: #c0392b;
  background-color: #c0392b;
}

.btn-primary:active {
  border-color: #c0392b;
  background-color: #c0392b;
}

body { 
  padding-top: 70px; 
  // background: url(http://cdn02.wallpapersonweb.com/media/i1440x900/1/11/105413-safari-browser-desktop-wallpaper-1440x900.jpg);
  // background-size: 100% 20%;
  // background-repeat: no-repeat;


}
.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
}
.center {
	text-align:center;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
      background-color: white;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.middle {
  margin-left: 50px;
}

.title {
  font-size: 200%;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center; }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center; }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center; }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center; }


.actor-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.actor-dob {
  border-top: 1px solid white; 
  margin-top: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
}
.actor-bio {
  margin-bottom: 5px;
}
.bio-content {
  margin-top: 0px;
}


.acting_movies {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
} 

.actor-profile {
    border-right: 1px solid red; 

}

.rating {
  background-color: #f1c40f;
}


#genres {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

.timestamp {
  display: inline;
  color: $gray-light;
}

.inline {
  display: inline;
}

.likes {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #C0C0C0;
  }
} 
